@import './normalize.scss';
@import "./style-variables.scss";
@import './skeleton.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hero{
  position: absolute;
  top:50%;
  text-align: center;
  transform: translateY(-50%);
  ul{
    list-style: none;
    li{
      :hover{
        color: $primary-text;
      }
    }
  }
}

.hero-text{
  font-weight: 700 !important;
}

.hero-variant-text{
  @extend .hero-text;
  color: $primary-text;
}

.crud-header{
  padding: 20px;
  button{
    // @include headerButton
  }
  @include hr;
}

nav {
  padding: 16px;
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  ul {
    
    margin: 0;
    text-decoration: none;
    list-style: none;
    .active{
      background: $nav-selected;
      color: $nav-selected-text;
      @include bradius;
    }
    li {
      padding: 5px;
      border: 1px solid transparent;
      &:hover {
        color: $primary-text;
        border: 1px solid $primary-text;
        @include bradius;
      }
      &:visited {
        color: $primary-text;
      }
    }

  }

  .nav-logo {
    // padding: 20px !important;
    position: relative;
    background: $darkbg;
    height: 50px;
    padding: 5px;
    @include bradius;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    img {
      display: block;
      position: relative;
      top: 0;
      padding: 5px;
    }
  }
}

.container {
  // min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
