$primary-text: #4285CE;
$primary-text-dark: rgb(37, 98, 160);
$nav-selected: rgba(66, 134, 206, 0.349);
$nav-selected-text: $primary-text-dark;
$darkbg: #333333;
$border-radius: 4px;
$botton-hr: 1px solid #eaeaea;

@mixin hr{
    border-bottom: $botton-hr;
}

@mixin bradius {
    border-radius: $border-radius
};

@mixin headerButton {
    font-size: 1em;
    padding: 10px 20px;
    outline: none;
    @include bradius;
}